@import "nullstyle";
@import "variables";

$maxWidth: 1440;
@mixin adaptive-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

%buttonEffects {
    background-color: $buttonBackgroundColor;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    &:hover {
      background-color: $buttonHover;
      transition: .3s;  
    }
}

body {
    background-color: $bodyBackgroundColor;
    font-family: $mainFont;
    height: 1440px;
}

.wrapper {

}
.main-content {
    padding: 0 10vw;
}

.header {
    color: white;
    background-color: $headerBackgroundColor;
    padding: 5vh 10vw;
    & .header__nav-title {
        font-family: 'Shanti', sans-serif;
        line-height: 31px;
        font-size: 24px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-transform: uppercase;
    }
}

.main-content {
}
.main-content__title {
    text-align: center;
    font-weight: 700;
    margin-top: 10vh;
    @include adaptive-font(36, 20);
}

.expenses {
    display: inline-block;
}

.title-h2 {
    font-weight: 600;
    margin: 10vh 0 3vh 0;
    @include adaptive-font(19, 14);
}

.enter-item,
.data-item {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.42);
    border-radius: 5px;
    margin: 1vh 1vw 1vh 0;
    height: 5vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &:hover {
        background-color: $inputHover;
    }
    &:focus {
        background-color: $inputHover;
        border: 1px solid black;
    }
    @include adaptive-font(19, 10);
}

.action-wrapper {
    display: flex;
    margin-top: 5vh;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.input-add {
    margin-left: auto;
    background-color: #ffffff;
    border-radius: 100%;
    width: 31px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    &:hover {
        background-color: $plusHover;
    }
    &:active {
        background-color: black;
        transition: 1.3s;
    }
}

.expenses__button {
    height: 7.5vh;
    width: 206px;
    @extend %buttonEffects;
}

.money-info-wrapper {
    display: inline-block;
    position: relative;
    top: 78px;
    float: right;
}

.money-info {
    display: inline-block;
    background-color: #ffffff;
    padding: 42px;
    border-radius: 10px;
    border-spacing: 0 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    & td {
        @include adaptive-font(19, 14);
    }
    & tr > td:nth-child(2) {
        color: green
    }
}

.optional-expenses {
    display: inline-block;
}

.data {
    display: flex;
    flex-shrink: 1;
}

.data-item {
    background-color: white;
    width: 100px;
}

.income__enter {
    width: 100%;
}

.savings__title {
    display: inline-block;
}

.start-payment-button {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    height: 8vh;
    width: 300px;
    margin: 3vh 0;
    @extend %buttonEffects;
}

.savings__data {
    border-spacing: 0 1.5vh;
}

.sum-label,
.percent-label {
    @include adaptive-font(19, 12);
}

.sum,
.percent {
    height: 3vh;
}

@media screen and(max-width: 957px) {
    .money-info-wrapper {
        display: inline-block;
        position: relative;
        top: 5vh;
        left: 0;
        float: none;
    }
    .money-info {
        padding: 20px;
    }
}

@media screen and(max-width: 390px) {
    .main-content {
        padding: 0 5vw
    }

    .data-item {
        width: 90px;
    }
}