@import "nullstyle";
@import "variables";

$maxWidth: 1440;
@mixin adaptive-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

%buttonEffects {
    background-color: $buttonBackgroundColor;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    &:hover {
      background-color: $buttonHover;
      transition: .3s;  
    }
}

body {
    background-color: $bodyBackgroundColor;
    font-family: $mainFont;
}

.main-content {
    padding: 0 10vw;
}

.header {
    color: white;
    background-color: $headerBackgroundColor;
    padding: 5vh 10vw;
    & .header__nav-title {
        font-family: 'Shanti', sans-serif;
        line-height: 31px;
        @include adaptive-font(26, 16);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-transform: uppercase;
    }
}


.main-content__title {
    text-align: center;
    font-weight: 700;
    margin-top: 10vh;
    @include adaptive-font(36, 20);
}

.description__text {
    margin: 10vh 0 3vh 0;
    text-indent: 1vw;
    line-height: 25px;
    @include adaptive-font(18, 14);
}

.github__link {
    font-size: 1em;
    position: relative;
    transition: all 0.6s;
    &:before {
        content: "";
        width: 0;
        height: 0.1em;
        position: absolute;
        bottom: 0;
        left: 0;
        background: green;
        transition: all 0.8s;
    }
    &:hover {
        &:before {
            width: 100%;
            left: 0;
            background-color: chartreuse;
            background: 0329d3;
        }
    }
}

.expenses {
    display: inline-block;
    max-width: 60%;
}

.title-h2 {
    font-weight: 600;
    margin: 10vh 0 3vh 0;
    @include adaptive-font(19, 14);
}

.enter-item,
.data-item {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.42);
    border-radius: 5px;
    margin: 1vh 1vw 1vh 0;
    height: 5vh;
    min-height: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &:hover {
        background-color: $inputHover;
    }
    &:focus {
        background-color: $inputHover;
        border: 1px solid black;
    }
    @include adaptive-font(19, 10);
}

.action-wrapper {
    display: flex;
    margin-top: 5vh;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.input-add,
.delete-expenses {
    margin-left: auto;
    background-color: #ffffff;
    border-radius: 100%;
    width: 31px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    &:hover {
        background-color: $plusHover;
    }
    &:active {
        background-color: black;
        transition: 1.3s;
    }
}

.input-delete,
.delete-optional-expenses {
    display: none;
}

.expenses__button,
.optional-expenses__button,
.modal-window__button {
    height: 7.5vh;
    min-height: 30px;
    width: 206px;
    @extend %buttonEffects;
}

.tooltip {
    display: none;
    position: absolute;
    font-weight: bold;
    text-align: center;
    background: #ff0101; /* Синий цвет фона */
    color: rgb(255, 238, 0); /* Цвет текста */
    padding: 0.4em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
}


[data-tooltip] {
    position: relative; /* Относительное позиционирование */ 
   }

   [data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 300px; /* Ширина подсказки */
    left: 0; top: 0; /* Положение подсказки */
    background: #3989c9; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
   } 
   [data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 2em; /* Положение подсказки */
   }
  

.modal-window__button-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.money-info-wrapper {
    display: inline-block;
    position: relative;
    top: 78px;
    float: right;
}

.money-info {
    display: inline-block;
    background-color: #ffffff;
    padding: 42px;
    border-radius: 10px;
    border-spacing: 0 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    & td {
        @include adaptive-font(19, 14);
    }
    & tr > td:nth-child(2) {
        color: green
    }
}

.optional-expenses {
    display: inline-block;
}

.data {
    display: flex;
    flex-shrink: 1;
}

.data-item {
    background-color: white;
    width: 100px;
}

.income__enter {
    width: 100%;
}

.savings__title {
    display: inline-block;
}

.savings {
    margin-bottom: 40px;
}

.start-payment-button {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    height: 8vh;
    min-height: 40px;
    width: 300px;
    margin: 3vh 0;
    @extend %buttonEffects;
}

.savings__data {
    border-spacing: 0 1.5vh;
}

.sum-label,
.percent-label {
    @include adaptive-font(19, 12);
}

.sum,
.percent {
    height: 3vh;
    min-height: 12px;
    border: 1px solid gray;
    border-radius: 5px;
}

.footer {
    background-color: $headerBackgroundColor;
    padding: 2vh 10vw;
    color: white;
    font-weight: 500;
    .footer__link {
        color: white;
    }

    .author__link {
        color: white;
        text-decoration: none;
        font-size: 1em;
        position: relative;
        transition: all 0.6s;
        font-weight: 700;
        &:before {
            content: "";
            width: 0;
            height: 0.1em;
            position: absolute;
            bottom: 0;
            left: 0;
            background: green;
            transition: all 0.8s;
        }
        &:hover {
            &:before {
                width: 100%;
                left: 0;
                background-color: chartreuse;
                background: 0329d3;
            }
        }
    }

    .footer__nav-title {
        font-family: 'Shanti', sans-serif;
        line-height: 31px;
        @include adaptive-font(26, 16);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-transform: uppercase;
    }

    .footer__copy {
        display: inline-block;
    }

    .author {
        display: inline-block;
        float: right;
    }

}

.modal-window {
    color: white;
    @include adaptive-font(18, 12);
    position: fixed;
    margin-top: 10%;
    border: 1px solid black;
    height: 60vh;
    width: 100vw;
    background-color: $headerBackgroundColor;
    padding: 5%;
    z-index: 1;
}

.modal-window__inner-content {
    height: 100%;
}

.modal-window__text {
    width: 40%;
    text-align: center;
}

.modal-window__enter-item {
    margin: 10px 10px 10px 0;
    width: 40%;
    height: 10%;
    text-align: center;
    @include adaptive-font(16, 12);
    &:hover {
        background-color: azure;
    }
}


@media screen and(max-height: 583px) {
    .modal-window__button-wrapper {
        height: 80%;
    }
}

@media screen and(max-height: 428px) {
    .modal-window__button-wrapper {
        height: 60%;
    }
}

@media screen and(max-width: 957px) {
    .expenses {
        max-width: 60vw;
    }

    .money-info-wrapper {
        display: inline-block;
        position: relative;
        width: 100%;
        top: 5vh;
        left: 0;
        float: none;
    }
    .money-info {
        width: 100%;
        padding: 20px;
    }
}

@media screen and(max-width: 595px) {
    .expenses {
        max-width: 100%;
    }
}

@media screen and(max-width: 390px) {
    .main-content {
        padding: 0 5vw
    }

    .data-item {
        width: 70px;
    }

    .start-payment-button {
        width: 250px;
    }

    .modal-window__enter-item {
        width: 50%
    }

    .modal-window__text {
        width: 50%;
    }
}

@media screen and(max-width: 500px) {
    .footer {
        height: 25vh;
        & .author {
            display: block;
            margin-top: 2vh;
            float: none;
        }

        & .footer__copy {
            margin-top: 3vh;
            display: block;
        }
    }
    
    
}

@media screen and(min-width: 2000px) {
    .expenses {
        max-width: 55%;
    }
}