$headerBackgroundColor: #427AA1;
$bodyBackgroundColor: #EBF2FA;
$inputHover: #f0f0f0;
$buttonBackgroundColor: #679436;
$buttonHover: #6caf22;
$plusHover: #f0f0f0; 
$mainFont: 'Montserrat', sans-serif;
$latinFont: 'Shanti', sans-serif;